
#game > * {
    margin: 20px;
}

#camWrapper {
    color: white;
    width: 640px;
    height: 480px;

    border: 1px solid #383e42;
    border-radius: 5px;
    /* background-color: #383e42; */
    /* min-height: 100vh; */

    /* tmp - center txt */
    /* text-align: center;
    vertical-align: middle;
    line-height: 60vh; */
    overflow: hidden;
}

#canvasWrapper {
    width: 640px;
    height: 480px;
    border-radius: 5px;
    border: 1px solid #383e42;

    /* tmp - center txt */
    /* text-align: center;
    vertical-align: middle;
    line-height: 60vh; */
}

#canvas {
    /* border: 1px solid green; */
}

#webcamVideo {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* USER INFO */

#game-info {
    /* display: flex; */
}

#draw-status {
    background-color: red;
    width: 25px;
}

#color-status {
    background-color: black;
}
