/* LAYOUT */

#heading {
    min-height: 10vh;
    border: 1px solid green;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Pacifico', cursive;
}

#info {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
    font-family: 'Montserrat', sans-serif;
    min-height: 5vh;
    border: 1px solid green;
}

#content {
    padding: 10px;
    min-height: 52vh;
    border: 1px solid green;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

#footer {
    min-height: 15vh;
    border: 1px solid green;
    font-family: 'Montserrat', sans-serif;
}

.player-video
{
    width: 160;
    height: 120;
}

/* NAV */

.menu-col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 25px;
    min-width: 10px;
    background-color: gray;
    color: white;
    border-radius: 5px;
    /* text and height */
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

#websock-info {
    background-color: red;
}
#posenet-info {
    background-color: red;
}

/* MISC */

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-centered-evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex-centered > * {
    margin-left: 5px;
    margin-right: 5px;
}

.flex-centered-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.flex-centered-col > * {
    margin-top: 5px;
    margin-bottom: 5px;
}

.flipped {
    transform: scaleX(-1);
}

.hidden {
    display: none;
}
