#start-button {
    margin-top: 120px;
    padding: 15px 32px;
    font-size: 16px;
}

#session-list {
    width: 500px;
}

#title-init {
    width: 100%;
}

#title-init > * {
    margin: 10px;
}

#title-lobby {
    width: 100%;
}

#waiting-players {
    margin-top: 50px;
    width: 100%;
}

.player-waiting {

    font-weight: bold;
    font-size: 20px;
}

.player-name {

    font-weight: bold;
    font-size: 20px;
}


